.title {
    font-family: 'Quicksand';
    color: #ffffff; 
    font-weight: bold;
}

.description {
    font-family: 'Quicksand'  ;
    color: #ffffff;
}

.mycardbody{
    position:absolute;
    padding-bottom: 100px;
}

.actions.d-flex.flex-column {
   margin-top: 100%;
   margin-left: 90%;
}

.save.p-2:active{
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}


.like.p-2:active{
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}

 .comment-item{
    margin-inline-end: 10%;
 } 

 .comment.container{
    word-wrap: break-word;
 }

 .title.comments{
    background-color: #00148d;
 }

 .text-light.d-flex.align-items-center.justify-content-between{
    background-color: #065bf0;
 }

 .modal-body-scrollable-bool.text-light{
    background-image: linear-gradient(to bottom, #065bf0, #c1cfff);
    
 }

 .footer.text-light{
    background-color: #c1cfff;
 }
 
 