.title {
    font-family: 'Quicksand';
    color: #ffffff; 
    font-weight: bold;
}

.description {
    font-family: 'Quicksand'  ;
    color: #ffffff;
}

.mycardbody{
    position:absolute;
    padding-bottom: 100px;
}

.actions.d-flex.flex-column {
   margin-top: 100%;
   margin-left: 90%;
}

.save.p-2:active{
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}


.like.p-2:active{
    box-shadow: 0 5px #ffffff;
    transform: translateY(4px);
}