body{
    background-image: url("https://media.istockphoto.com/id/1058384844/es/foto/mujer-sosteniendo-peri%C3%B3dicos-y-taza-de-caf%C3%A9-mirando-a-c%C3%A1mara.jpg?s=612x612&w=0&k=20&c=DqLOOK4d6uxw1nQ0h5Thxi6vXltzpKyS_buJa5WB3pM=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}