.top-right-image {
    position: absolute;
    top: 0; /* Posiciona la imagen en la parte superior */
    right: 0; /* Posiciona la imagen en el lado derecho */
    max-width: 150px; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
}

.full-screen-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container{
    width: 80%;
    border-radius: 8px;
}

body{
    background-image: url("https://www.media-tics.com/fotos/8/prensaespaA_a11_thumb_400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1{
    background-color: #003366;
    color: white;
}