.form-container {
    background-color: #f9f9f9; /* Fondo claro */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px; /* Ancho máximo */
    margin: 0 auto; /* Centrado horizontal */
    margin-top: 50px;
     /* Reducir el ancho máximo */
  }