.navbar-fixed-bottom {
    background-color: #0044CC;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    height: 60px;
    border-top: 1px solid white
}

.nav-icon {
    padding-top: 20%;
}


.logo {
    height: 50px;
    width: 40px;
}