
.title-modal{ 
    font-family: 'Quicksand';
    color:#0044CC;
    background-color: white;
    font-weight: bold;
}


.titlesinglenew{
    font-family: 'Quicksand';
    color: #ffffff;
    font-size:larger;
    margin-top: 140%;
}

.text-new{
   
    font-family: 'Quicksand';
    color: #ffffff;
    background-color: #0044CC;
    font-weight: bold;
}

.visitnew{
    background-color: #0044CC;
}

.showmore{
    background-color: #0044CC;
    margin-top: 5%;
}

.newspaper{
    font-family: 'Quicksand';
    color: #ffffff;
    font-weight: bold;
    fotz-size: large ;
}

.numberlike{
   color: white;
   font-family: 'Quicksand';
   font-weight: bold;
}

.showmore{
    height: 50%;
}